<footer class="bg-white ">
    <div class="mx-auto w-full max-w-screen-xl">
        <div class="grid  gap-5 px-4 py-6 lg:py-8 md:grid-cols-5  ">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">HELP
                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-normal">
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Get Help
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Order Status
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Shipping and Delivery
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Returns
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Order Cancellation

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Payment Options

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Gift Card Balance

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Contact Us
                        </a>
                    </li>

                </ul>
            </div>

            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">COMPANY
                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-normal">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">About Nike
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">News
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Careers
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Investors
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Purpose
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Sustainability</a>
                    </li>
                </ul>
            </div>

            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">PROMOTIONS &
                    DISCOUNTS

                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Student

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Military

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Teacher

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> First Responders & Medical Professionals

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Birthday
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        
    </div>
</footer>