<div class=" flex-col justify-center text-center">
    <div class="p-3 px-1 w-full max-w-[1536px] mx-auto">
        <img src="../../images//women/women-1.png" alt="" class="h-[100%] w-[100%]">
        
    </div>

    <div class="max-w-md mx-auto md:max-w-2xl">
        <div class=" py-5 text-[#1e3934] text-[19px] ">
            <a href="">
                <div class="font-semibold ">
                    <h3>Step into the Unreal</h3>
                </div>
                <div class="mt-2">
                    <h5 class="text-black text-3xl">AIR MAX DN</h5>
                    <p> The Dynamic Style of Sha'Carri Richarson.</p>
                    <button class="bg-black text-white mt-5 px-4 py-1  rounded-full"> Shop </button>
                </div>
            </a>
        </div>
    </div>
</div>
