

<div>
    <div class="mx-auto max-w-[1536px] mt-8 px-4 flex justify-between items-center">
        <h1 class="text-2xl"> More to Explore</h1>
        
    </div>
</div>

<div class="w-full">
    <div class="w-full max-w-[1536px] mx-auto  px-4">
        <div class=" flex gap-3  mt-5">
            <div class="w-full">
                <div class="w-[500px] h-[700px]">
                    <img src="../../images/women/women-13.png" alt="" class="w-full h-full object-cover">
                </div>
                <h3 class="mt-4 text-[20px]">New from Nike Runing</h3>
                <a class=" underline " href="">Shop</a>
                
    
            </div>
            <div class="w-full">
                <div class="w-[500px] h-[700px]">
                    <img src="../../images/women/member-14.jpeg" alt="" class="w-full h-full object-cover">
                </div>
                <h3 class="mt-4 text-[20px]">Killshot from Day to Night </h3>
                <a class="  underline " href="">Shop</a>
                    
    
            </div>
            <div class="w-full">
                <div class="w-[500px] h-[700px]">
                    <img src="../../images/women/women15.jpeg" alt="" class="w-full h-full object-cover">
                </div>
                <h3 class="mt-4 text-[20px]">Spring Golf Essentails</h3>
                <a class=" underline  " href="">Shop</a>
                  
            </div>
        </div>
    </div>
</div>


