<div >
    <div class="mx-auto max-w-[1536px] mt-8 flex justify-between items-center">
        <h1 class="text-2xl"> Shop the Essebtail</h1>
        <div class="flex gap-[3px]"  id="btn-shop">
            <button class=" bg-gray-100 w-[50px] h-[50px] rounded-full flex justify-center items-center"><img
                    src="../../images/home/left-chevron.png" alt="" class="w-[30px]"></button>
            <button class="bg-gray-100 w-[50px] h-[50px] rounded-full flex justify-center items-center"><img
                    src="../../images/home/chevron.png" alt="" class="w-[30px]"></button>
        </div>
    </div>
</div>

<section id="images-shop">
    <div class="w-full max-w-[1536px] mx-auto px-4">
        <div class="w-full  ">
            <div class="  flex gap-3 overflow-x-scroll mt-5">
                <div class="w-full">
                    <div class="w-[500px] h-[500px]">
                        <img src="../../images/women/women-2.jpeg" alt="" class="w-full h-full object-cover">
                    </div>
                    <h3 class="mt-4 text-[20px] ">Clothing</h3>
                </div>

                <div class="w-full">
                    <div class="w-[500px] h-[500px]">
                        <img src="../../images/women/women-3.jpeg" alt="" class="w-full h-full object-cover">
                    </div>
                    <h3 class="mt-4 text-[20px]">Shoes</h3>

                </div>
                <div class="w-full">
                    <div class="w-[500px] h-[500px]">
                        <img src="../../images/women/women-4.jpeg" alt="" class="w-full h-full object-cover">
                    </div>
                    <h3 class="mt-4 text-[20px]">Accessories </h3>

                </div>
                <div class="w-full">
                    <div class="w-[500px] h-[500px]">
                        <img src="../../images/women/women-5.jpeg" alt="" class="w-full h-full object-cover">
                    </div>
                    <h3 class="mt-4 text-[20px]">Bras & Leggings</h3>


                </div>
            </div>
        </div>
    </div>
</section>