<div class="">
    <div class="max-w-[1536px] mx-auto overflow-x-scroll mt-10 px-4">
        <h1 class="text-2xl px-3">Trendimg</h1>
        <div class="flex gap-3 mt-8">
            <div class="relative w-full">
                <img src="../../images/women/women-6.jpeg" alt="" class="w-full h-[550px] object-cover">

                <div class="absolute bottom-10 left-10 text-white">
                    
                    <h1 class="text-2xl">  Brooks's Golf Essentials</h1>
                    <button class="bg-white text-black mt-5 px-4 py-1  rounded-full"> Shop</button>
                </div>
            </div>

            <div class="relative w-full">
                <img src="../../images/women/women-7.png" alt="" class="w-full h-[550px] object-cover">

                <div class="absolute bottom-10 left-10 text-white">
                    
                    <h1 class="text-2xl">  Brooks's Off-Course Picks</h1>
                    <button class="bg-white text-black mt-5 px-4 py-1  rounded-full"> Shop</button>
                </div>
            </div>
        </div>
    </div>
</div>


