<nav class="bg-white">
    <div class="mx-auto w-full max-w-screen-xl">
        <div class="grid grid-cols-2 gap-5 px-4 py-6 lg:py-8 md:grid-cols-4">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Jordan Family Days

                </h2>
                <ul class="mb-6 text-sm font-semibold text-gray-900 ">
                    <li class="mb-4">
                        <a href="#" class=" hover:underline"> Shop the Collection


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Shop All Jordan


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> New Releases


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Men

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Women


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Kids
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Basketball </a>
                    </li>
                </ul>
            </div>

            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">New & Featured


                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-normal">
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> New Arrivals


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Best Sellers


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Member Product

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> New & Upcoming Drops


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">SNKRS Launch Calendar


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Mother's Day Shop




                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Add to Bag to See Price

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Sale: Up to 50% Off

                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Shop Classics


                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-normal">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Air Jordan 1


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Air Force


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Dunk


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Air Max


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Blazer

                        </a>
                    </li>

                </ul>
            </div>

            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
                    New For Men
                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Shoes

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Clothing


                        </a>
                    </li>
                </ul>

                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">New For Women</h2>
                <ul>
                    
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Shoes

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Clothing

                        </a>
                    </li>
                </ul>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">              

                    New For Kids </h2>
            

                    <ul>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">

                                Shoes


                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="#" class="hover:underline">


                                Clothing


                            </a>
                        </li>
                    </ul>

                </ul>
            </div>

        </div>

    </div>
</nav>