<div class="bg-gray-100">
    <div class="max-w-[1536px] mx-auto p-4">
        <div class="flex justify-between">
            <div class="flex items-center">
                <a href=""> <img src="../../images/home/jordan.png" class="w-[30px] object-cover hover:opacity-50"></a>
                <a href=""><img src="../../images/home/Converse-logo.png"
                        class="w-[40px] object-cover hover:opacity-50"></a>
            </div>
            <div class=" divide-x  divide-black font-medium text-sm ">
                <a href="" class=" items-center p-2"> Find a Store</a>
                <a href="" class="items-center p-2"> Help</a>
                <a href="" class="items-center p-2"> Join Us</a>
                <a href="" class="items-center p-2"> Sign In</a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar -->
<div class="bg-white-400 ">
    <div class="max-w-[1536px] mx-auto p-4">
        <div class="flex justify-between  ">
            <a href=""><img src="../../images/home/nike1.png" class="min-w-[80px] w-[80px] flex justify-start flex-nowrap"></a>

            <ul class="flex space-x-4 justify-center items-center text-center flex-wrap ">
                <li class="hover:underline "><a href="">New & Feature</a></li>
                <li class="hover:underline" ><a href="">Men </a></li>
                <li class="hover:underline" ><a href="">Women </a></li>
                <li class="hover:underline" ><a href="">Kids</a></li>
                <li class="hover:underline" ><a href="">Acessories</a></li>
                <li class="hover:underline" ><a href="">Sale</a></li>
            </ul>

            <div class="flex items-center gap-10 relative flex-nowrap">
                <div class="flex items-center">
                    <img src="../../images/home/search-interface-symbol.png" alt="" class="w-[20px] absolute left-3">
                    <input type="text" class="border rounded-full py-2 px-4 focus:outline-none pl-10 bg-gray-100"
                        placeholder="search">
                </div>

                <div class="flex items-center gap-3">
                    <a href="#"><img src="../../images/home/like.png" alt="" class="min-w-[25px] w-[25px]"></a>
                    <a href="#"><img src="../../images/home/market.png" alt="" class="min-w-[25px] w-[25px]"></a>
                </div>

            </div>
        </div>
    </div>
</div>