<footer class="bg-white  items-center">
    <div class="mx-auto w-full max-w-screen-xl ">
        <div class="grid  gap-5 px-4 py-6 lg:py-8 md:grid-cols-5  ">
            <div class="footer-page-home">
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ">Feature</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-normal hidden md:block">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Air Force 1
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Jordan 1
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Metcon
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Air Max 270
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Air Max 97
                            

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Air Max 90
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Blazer </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Pegasus

                        </a>
                    </li>

                </ul>
            </div>

            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Shoes
                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-normal hidden md:block">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">All Shoes
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Jordan Shoes
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Running Shoes
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Basketball Shoes
                           
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Tennis Shoes
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Training Shoes
                            </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Custom Shoes
                            </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Sale Shoes</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Soccer Cleats</a>
                    </li>
                </ul>
            </div>

            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase "> Clothing</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium hidden md:block">
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> All Clothing
                            

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Tops & T-Shirts
                            

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Shorts
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Hoodies & Pullovers                           
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Joggers & Sweatpants
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Sports Bras
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Pants & Tights
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Socks
                            
                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase "> Clothing</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium hidden md:block">
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> All Clothing
                            

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Tops & T-Shirts
                            

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Shorts
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Hoodies & Pullovers                           
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Joggers & Sweatpants
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Sports Bras
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Pants & Tights
                            
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Socks
                            
                        </a>
                    </li>
                </ul>
            </div>


        </div>
        
    </div>
</footer>