<div>
    <div class="max-w-[1536px] mx-auto px-4   mt-8">
        <h1 class="text-2xl"> Classics Spotlight</h1>
        <div class=" flex mt-8  ">
            <div class="flex  gap-5 overflow-x-scroll">
                <img src="../../images/women/women-8.jpeg" alt="" class="w-[300px] h-[300px]">
                <img src="../../images/women/women-9.jpeg" alt="" class="w-[300px] h-[300px]">
                <img src="../../images/women/women-10.jpeg" alt="" class="w-[300px] h-[300px]">
                <img src="../../images/women/women-11.jpeg" alt="" class="w-[300px] h-[300px]">
                <img src="../../images/women/women-12.jpeg" alt="" class="w-[300px] h-[300px]">
            </div>
        </div>
    </div>
</div>