    <!-- Feature -->

    <div class="">
        <div class="max-w-[1536px] mx-auto px-4 overflow-x-scroll mt-10">
            <h1 class="text-2xl">Featured</h1>
            <div class="flex gap-3 mt-8">
                <div class="relative">
                    <img src="../../images/home/nike-just-do-it(5).jpg" alt="" class="w-full h-full object-cover">

                    <div class="absolute bottom-10 left-10 text-white">
                        <h1> Nike Alphafly 3</h1>
                        <h1 class="text-2xl"> Push Beyond What's Possible</h1>
                        <button class="bg-white text-black mt-5 px-4 py-1  rounded-full"> Shop</button>
                    </div>
                </div>
                <div class="relative">
                    <img src="../../images/home/trending.jpeg" alt="" class="w-full h-full object-cover">

                    <div class="absolute bottom-10 left-10 text-white">
                        <h1> Jordan New Arrivals 3</h1>
                        <h1 class="text-2xl"> Air Jordan 4 <br> 'Vivid Sulfur'</h1>
                        <button class="bg-white text-black mt-5 px-4 py-1  rounded-full"> Shop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      