<div>
    <img src="../../images/home/nike-just-do-it.jpg" alt="" class="w-full h-[700px] object-cover">
    <img src="../" alt="">
</div>

<!-- content -->
<div class="mx-auto max-w-[800px] mt-8">
    <div class="text-center">
        <p>Brook's Looks</p>
        <h1 class="text-[50px] font-semibold">GEAR-UP FOR <br>THE MAJORS</h1>
        <p class="my-4">How the golf sensation is gearing up for this season's major and beyoend.</p>
        <button class="bg-black text-white px-6 py-2 rounded-full">Shop the Collection</button>
    </div>
</div>
