<div class="">
    <div class="mx-auto max-w-[1536px] mt-8 px-4 flex justify-between items-center">
        <h1 class="text-2xl"> Trending</h1>
        <div class="flex gap-[3px]">
            <button class=" bg-gray-100 w-[50px] h-[50px] rounded-full flex justify-center items-center"><img
                    src="../../images/home/left-chevron.png" alt="" class="w-[30px]"></button>
            <button class="bg-gray-100 w-[50px] h-[50px] rounded-full flex justify-center items-center"><img
                    src="../../images/home/chevron.png" alt="" class="w-[30px]"></button>
        </div>
    </div>
</div>

<section class="mt-8">
    <div class="max-w-[1536px] mx-auto px-4 flex gap-3 overflow-x-scroll mt-8">
        <div class="w-full">
            <div class="w-[500px] h-[500px]">
                <img src="../../images/home/nike-just-do-it2.jpg" alt="" class="w-full h-full object-cover">
            </div>
            <p class="mt-4 text-[18px]">Rep Your Team In March And Beyond</p>

        </div>

        <div class="w-full">
            <div class="w-[500px] h-[500px]">
                <img src="../../images/home/air max .webp" alt="" class="w-full h-full object-cover">
            </div>
            <p class="mt-4 text-[18px]"> Air Max Dn</p>

        </div>
        <div class="w-full">
            <div class="w-[500px] h-[500px]">
                <img src="../../images/home/nike-just-do(1).jpeg" alt="" class="w-full h-full object-cover">
            </div>
            <p class="mt-4 text-[18px]">Fast Forward. Rewind.</p>

        </div>
        <div class="w-full">
            <div class="w-[500px] h-[500px]">
                <img src="../../images/home/nike-just-do-it(4).jpg" alt="" class="w-full h-full object-cover">
            </div>
            <p class="mt-4">Nike Motiva: For All Walks</p>

        </div>
        <div class="w-full">
            <div class="w-[500px] h-[500px]">
                <img src="../../images/home/nike-just-do-it7.png" alt="" class="w-full h-full object-cover">
            </div>
            <p class="mt-4 text-[18px]">Expression in Motion</p>

        </div>
    </div>
</section>
