<div class=" flex-col justify-center text-center">
    <div class="p-3 px-4 w-full max-w-[1536px] mx-auto">
        <img src="../../images/kid/kid-hero.jpeg" alt="" class="h-[100%] w-[100%]">
        
    </div>

    <div class="max-w-md mx-auto md:max-w-2xl">
        <div class=" py-5 text-[#1e3934] text-[19px] ">
                <div class="mt-2 px-4">
                    <h3 class="text-black text-3xl font-extrabold">NIKE SB DAY ONE</h3>
                    <p>Made to skate. Designed to support you from the start.</p>
                    <a href=""><button class="bg-black text-white mt-5 px-4 py-1  rounded-full"> Shop</button></a>
                </div>

        </div>
    </div>
</div>
