<div class="p-3 px-1 w-full max-w-[1536px] mx-auto">
    <div class="flex justify-between  items-center">
        <div>
            <h1 class="flex text-[20px] font-medium">Kids</h1>
        </div>
        <div>
            <ul class="flex gap-5 text-center justify-items items-center">
                <li>Shoes</li>
                <li>Clothing</li>
                <li>New Arrivals</li>
                <li>Gear&Accessories</li>
                <li>Mini Me</li>
                <li>Sale</li>
            </ul>
        </div>
        <div class="invisible">
            <h1 class="flex">Men</h1>
        </div>
    </div>
</div>