
<div class="mx-auto max-w-[1536px] mt-8">
    <h1 class="text-[25px] font-medium">Size for All</h1>
</div>
<div class="mx-auto max-w-[1536px] mt-8 px-4 ">   
    
    <div >
        <div class=" columns-2">
            <div class="relative w-full">
                    <img class="w-full" src="../../images/kid/kid-size1.jpeg" alt="">
                <div class=" absolute bottom-10 left-10 max-w-md mx-auto md:max-w-2xl">
                    <div class="  py-5  ">
                        <div class="mt-2">
                            <h5 class="text-black text-3xl">Big kid-size2</h5>
                            <p class="text-black py-5">Explore apparel (XS-XL) and shoes (3.5-7Y).</p>
                            <button class="bg-black text-white mt-5 px-4 py-1  rounded-full"> Shop </button>
                        </div>
            
                    </div>
                </div>
            </div>

            <div class="relative w-full">
                <img  class="w-full mt-4" src="../../images/kid/kid-size3.jpeg" alt="">
                <div class=" absolute bottom-10 left-10 max-w-md mx-auto md:max-w-2xl">
                    <div class="  py-5 ">
                        <div class="mt-2">
                            <h5 class="text-black text-3xl">Babeies and Toddlers</h5>
                            <p class="text-black py-5">Explore apparel (0M-4T) and shoes (0C-10C).</p>
                            <button class="bg-black text-white mt-5 px-4 py-1  rounded-full"> Shop </button>
                        </div>
            
                    </div>
                </div>
            </div>


            <div class="relative w-full">
                <img class="w-full mt-4" src="../../images/kid/kid-size2.jpeg" alt="">
                <div class=" absolute bottom-10 left-10 max-w-md mx-auto md:max-w-2xl">
                    <div class="  py-5  ">
                    
                        <div class="mt-2">
                            <h5 class="text-black text-3xl">Little Kids</h5>
                            <p class="text-black py-5">Explore apparel (4-7) and shoes (10.5C-3Y).</p>
                            <button class="bg-black text-white mt-5 px-4 py-1  rounded-full"> Shop </button>
                        </div>
            
                    </div>
                </div>  
            </div>

            <div class="relative w-full">
                <img  class="w-full mt-4" src="../../images/kid/kis-size4.jpeg" alt="">
                <div class=" absolute bottom-10 left-10 max-w-md mx-auto md:max-w-2xl">
                    <div class="  py-5  ">
                    
                        <div class="mt-2 ">
                            <h5 class="text-black text-3xl">Teen Essentials</h5>
                            <p class="text-black py-5">Explore apparel (XS-XL) and shoes (3.5-7Y).</p>
                            <button class="bg-black text-white mt-5 px-4 py-1  rounded-full"> Shop </button>
                        </div>
            
                    </div>
                </div>  
            </div>

        </div>
    </div>
</div>

