<!-- Footer -->
<!-- Main Footer -->
<footer class="relative z-[100]  bg-black dark:bg-white">
    <div class="mx-auto w-full max-w-screen-xl">
        <div class="grid grid-cols-2 gap-5 px-4 py-6 lg:py-8 md:grid-cols-4">
            <div class="md:block hidden">
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-black">featured
                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-normal ">
                    <li class="mb-4">
                        <a href="#" class=" hover:underline"> Air Force 1

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Jordan 1

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Metcon

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Air Max 270
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Air Max 97

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Air Max 90 </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Blazer
                            Pegasus</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Pegasus</a>
                    </li>
                </ul>
            </div>

            <div class="md:block hidden">
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-black">Shoes

                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-normal">
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> All Shoes

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Jordan Shoes

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Running Shoes

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Basketball Shoes

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Tennis Shoes

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Training Shoes



                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Custom Shoes


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Sale Shoes

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Soccer Cleats
                        </a>
                    </li>
                </ul>
            </div>

            <div class="md:block hidden">
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-black">Clothing

                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-normal">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">All Clothing

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Tops & T-Shirts

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Shorts

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Hoodies & Pullovers

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Joggers & Sweatpants

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Sports Bras
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Pants & Tights
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            SSocks
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Yoga
                        </a>
                    </li>
                </ul>
            </div>

            <div class="md:block hidden">
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-black">Kids


                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Infant & Toddler Shoes


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Kids Shoes


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Kids Basketball Shoes


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Kids Running Shoes


                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Kids Jordan Shoes

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Kids Clothing

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Kids Backpacks

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Kids Socks

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Kids Sale
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</footer>


<!-- Footer-hover -->
<footer id="list-footer" class="bottom-0 z-[100] bg-black mx-auto w-full duration-300 md:flex flex-col">
    <div class="mx-auto w-full max-w-screen-xl ">
        <div class="grid grid-cols-1 gap-5 px-4 py-6 lg:py-8 md:grid-cols-5">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">RESOURCES</h2>
                <ul class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
                    <li class="mb-4">
                        <a href="#" class=" hover:underline"> GIFT CARDS
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">FIND A STORE
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">BECOME A MEMBER
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">NIKE X NBA</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            NIKE JOURNAL
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Site Feedback</a>
                    </li>
                        <hr class="md:hidden block ">
                  
                </ul>

            </div>

            <div class="">
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">HELP
                </h2>

                <ul class="text-gray-500 dark:text-gray-400 font-normal md:block hidden">
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Get Help
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Order Status
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Shipping and Delivery
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Returns
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Order Cancellation

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Payment Options

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Gift Card Balance

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Contact Us
                        </a>
                    </li>

                </ul>
            </div>

            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">COMPANY
                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-normal md:block hidden">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">About Nike
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">News
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Careers
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Investors
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Purpose
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">

                            Sustainability</a>
                    </li>
                </ul>
            </div>

            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">PROMOTIONS &
                    DISCOUNTS

                </h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium md:block hidden ">
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Student

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Military

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> Teacher

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline"> First Responders & Medical Professionals

                        </a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline">
                            Birthday
                        </a>
                    </li>
                </ul>
            </div>

            <div class="flex  sm:justify-start md:mt-0 space-x-5 rtl:space-x-reverse">

                <ul class="flex gap-2 flex-wrap">
                    <li>
                        <a class="w-12 items-start flex hover:bg-gray-200 duration-300 p-2 rounded-full" href="https://www.facebook.com/nike">
                            <img src="../images/Facebook-Grey-icon.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="w-12 justify-center items-center flex hover:bg-gray-700 duration-300 p-2 rounded-full"
                            href="https://twitter.com/Nike">
                            <img src="../images/twitter-grey-logo-png-hd-copy-11656657513pdx1tiefak.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="w-12 justify-center items-center flex hover:bg-gray-200 duration-300 p-2 rounded-full"
                            href="https://www.youtube.com/user/nike">
                            <img src="../images//youtube-icon.png" class="w-[100px]" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="w-12 justify-center items-center flex hover:bg-gray-200 duration-300 p-2 rounded-full"
                            href="https://www.instagram.com/nike/">
                            <img src="../images/Insta.jpeg" class="rounded-full" alt="">
                        </a>
                    </li>
                
                </ul>
            </div>
        </div>

</footer>