<!-- Member -->
<div>
    <div class="mx-auto max-w-[1536px] mt-8 px-4 flex justify-between items-center">
        <h1 class="text-2xl"> Member Benefits </h1>
        <div class="flex gap-[3px]">
            <button class=" bg-gray-100 w-[50px] h-[50px] rounded-full flex justify-center items-center"><img
                    src="../../images/home/left-chevron.png" alt="" class="w-[30px]"></button>
            <button class="bg-gray-100 w-[50px] h-[50px] rounded-full flex justify-center items-center"><img
                    src="../../images/home/chevron.png" alt="" class="w-[30px]"></button>
        </div>
    </div>
</div>


<div class="">
    <div class="w-full px-4 max-w-[1536px] mx-auto ">
        <div class="py-1 flex gap-3 overflow-x-scroll mt-5 ">
            
            <div class="relative w-full">
                <div class="w-[500px] h-[500px]">
                    <img src="../../images/women/member1.jpeg" alt="" class="w-full h-full object-cover">
                </div>
                <div class=" absolute bottom-10 left-10 max-w-md mx-auto md:max-w-2xl">
                    <div class="  py-5 text-[#1e3934] text-[19px] ">
                    
                        <div class="mt-2">
                            <h5 class="text-white text-3xl">Member Product</h5>
                            <p class="text-white">Your Exclusive Access</p>
                            <button class="bg-white text-black mt-5 px-4 py-1  rounded-full"> Shop </button>
                        </div>

                    </div>
                </div>
            </div>
    
    
            <div class="relative w-full">
                <div class="w-[500px] h-[500px]">
                    <img src="../../images/women/members.jpeg" alt="" class="w-full h-full object-cover">
                </div>
                <div class=" absolute bottom-10 left-10 max-w-md mx-auto md:max-w-2xl">
                    <div class=" py-5 text-[#1e3934] text-[19px] ">
                        
                        
                            <div class="mt-2">
                                <h5 class="text-black text-3xl">Sport and Welness Apps</h5>
                                <p>Movement Where You're At</p>
                                <button class="bg-black text-white mt-5 px-4 py-1  rounded-full"> Celaborate</button>
                            </div>
                     
                    </div>
                </div>
    
            </div>
            <div class="relative w-full">
                <div class="w-[500px] h-[500px]">
                    <img src="../../images/women/member3.jpeg" alt="" class="w-full h-full object-cover">
                </div>
                <div class=" absolute bottom-10 left-10  max-w-md mx-auto md:max-w-2xl">
                    <div class=" py-5 text-[#1e3934] text-[19px] ">
                        
                            
                            <div class="mt-2">
                                <h5 class="text-white text-3xl">Member Reward</h5>
                                <p>How we say Thank You</p>
                                <button class="bg-white text-black mt-5 px-4 py-1  rounded-full"> move</button>
                            </div>
                       
                    </div>
                </div>
    
            </div>
            <div class="relative w-full">
                <div class="w-[500px] h-[500px]">
                    <img src="../../images/women/member5.jpeg" alt="" class="w-full h-full object-cover">
                </div>
                <div class="absolute bottom-10 left-10  max-w-md mx-auto md:max-w-2xl">
                    <div class=" py-5 text-[#1e3934] text-[19px] ">
                        
                            
                            <div class="mt-2">
                                <h5 class="text-white text-3xl">Nike By You</h5>
                                <p>Your Customization Service</p>
                                <button class="bg-black text-white mt-5 px-4 py-1  rounded-full"> Customize</button>
                            </div>
                        
                    </div>
                </div>
    
            </div>

            <div class="relative w-full">
                <div class="w-[500px] h-[500px]">
                    <img src="../../images/women/member6.jpeg" alt="" class="w-full h-full object-cover">
                </div>
                <div class="absolute bottom-10 left-10  max-w-md mx-auto md:max-w-2xl">
                    <div class=" py-5 text-[#1e3934] text-[19px] ">
                        
                            
                            <div class="mt-2">
                                <h5 class="text-white text-3xl">SNKRS</h5>
                                <p>Your Ultimate Sneaker Community</p>
                                <button class="bg-black text-white mt-5 px-4 py-1  rounded-full"> Explore</button>
                            </div>
                        
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>