<div class="">
    <div class="max-w-[1536px] mx-auto mt-10">
        <h1 class="text-[25px] font-normal">Shop Essentails</h1>
        <div class="flex gap-3 mt-8">
            <div>
                <img src="../../images/men/shop-esentail-1.jpeg" alt="" class="w-[500px] h-[510px] object-cover">

                <h1 class="py-4 text-[20px]">
                    Clothing
                </h1>


            </div>
            <div>
                <img src="../../images/men/shop-essentail-2.jpeg" alt="" class="w-[500px] h-[510px]  object-cover">
                <h1 class="py-4 text-[20px]"> Shoes</h1>


            </div>

            <div>
                <img src="../../images/men/shop-essentail-3.png" alt="" class="w-[500px] h-[510px]  object-cover">
                <h1 class="py-4 text-[20px]"> Acessories</h1>
            </div>

        </div>
    </div>
</div>