<Section class="max-w-[1536px] relative mx-auto mt-10   overflow-x-hidden">
    <h1 class="text-2xl font-medium px-4">Classic by Sportlight</h1>
    <div class="   flex items-center ">

        <button id="previous" class="absolute z-40 left-5 rounded-full bg-gray-200 p-3"> <img src="../images/left-chevron.png" alt=""
                class="w-[30px]"> </button>
        <button id="next" class="absolute z-40 right-3 rounded-full bg-gray-200 p-3"><img src="../images/chevron.png" alt=""
                class="w-[30px] "></button>

        <div class="px-4  mt-6  "  >
            <div id="classCard" class=" flex mt-8 duration-200">
                <div  class="flex  gap-5 ">
                    <div  class="w-full">
                        <div class="w-[400px] h-[400px]">
                            <img src="../images/women-12.jpeg" alt="" class="w-full h-full object-cover">
                        </div>

                    </div>
                    <div  class="w-full">
                        <div class="w-[400px] h-[400px]">
                            <img src="../images/women-9.jpeg" alt="" class="w-full h-full object-cover">
                        </div>


                    </div>
                    <div  class="w-full">
                        <div class="w-[400px] h-[400px]">
                            <img src="../images/women-10.jpeg" alt="" class="w-full h-full object-cover">
                        </div>


                    </div>
                    <div  class="w-full">
                        <div class="w-[400px] h-[400px]">
                            <img src="../images/women-8.jpeg" alt="" class="w-full h-full object-cover">
                        </div>


                    </div>
                    <div  class="w-full">
                        <div class="w-[400px] h-[400px]">
                            <img src="../images/women-11.jpeg" alt="" class="w-full h-full object-cover">
                        </div>

                    </div>



                </div>
            </div>

        </div>
    </div>
</Section>
