<footer class="max-w-[1536px] mx-auto mt-8 md:hidden block">
    <div class="">
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-black">featured
           </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-normal ">
            <li class="mb-4">
                <a href="#" class=" hover:underline"> Air Force 1
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">Jordan 1
                   
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline"> Metcon
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">Air Max 270
                    </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">
                    Air Max 97
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">

                    Air Max 90 </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">
                    Blazer
                    Pegasus</a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">
                    Pegasus</a>
            </li>
        </ul>
    </div>


    <div class="">
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-black">Shoes
           
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-normal">
            <li class="mb-4">
                <a href="#" class="hover:underline">  All Shoes
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">Jordan Shoes
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">Running Shoes
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">Basketball Shoes
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">Tennis Shoes
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline"> Training Shoes
                    


                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline"> Custom Shoes
                    

                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">Sale Shoes
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">Soccer Cleats
                </a>
            </li>
        </ul>
    </div>

    <div class="">
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-black">Clothing
            
        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-normal">
            <li class="mb-4">
                <a href="#" class="hover:underline">All Clothing
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">Tops & T-Shirts
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">Shorts
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">Hoodies & Pullovers
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">
                    Joggers & Sweatpants
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">

                    Sports Bras
                    </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">

                    Pants & Tights
                    </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">

                    SSocks
                    </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">

                    Yoga
                    </a>
            </li>
        </ul>
    </div>

    <div class="">
        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-black">Kids
            

        </h2>
        <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
                <a href="#" class="hover:underline"> Infant & Toddler Shoes
                    

                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline"> Kids Shoes
                    

                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline"> Kids Basketball Shoes
                    

                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline"> Kids Running Shoes
                    

                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">
                    Kids Jordan Shoes
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">
                    
                    Kids Clothing
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">
                   
                    Kids Backpacks
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">
                    
                    Kids Socks
                    
                </a>
            </li>
            <li class="mb-4">
                <a href="#" class="hover:underline">
                    Kids Sale
                </a>
            </li>
        </ul>
    </div>


</footer> 