
<ul class="flex flex-col items-start gap-2 max-w-[1536px] mx-auto mt-5 md:hidden px-4">

    <li>
        <details class="group ">

            <summary
                class="flex items-start justify-between gap-2 p-2 transition  font-normal marker:content-none hover:cursor-pointer">
                <span class="flex gap-2 tezt-[16px] ">Feature</span>
                
            </summary>

            <article class="px-4 pb-4 ">

                <ul class="flex flex-col gap-4 pl-2 mt-4 px-2">

                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Air Force 1</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Jordan 1</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Metcon</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Air Max 270</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Air Max 97</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Air Max 90</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Blazer Pegasus</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Pegasus</a>

                </ul>

            </article>

        </details>
    </li>

    <li>

        <details class="group">

            <summary
                class="flex items-center justify-between gap-2 p-2 font-normal marker:content-none hover:cursor-pointer">

                <span class="flex gap-2 tezt-[16px]">
                    Shoe
                </span>
                
            </summary>

            <article class="px-4 pb-4">

                <ul class="flex flex-col gap-4 pl-2 mt-4 px-2">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">All Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Jordan Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Running Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Basketball Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Tennis Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Training Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Custom Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Sale Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Soccer Cleats</a>

                </ul>

            </article>

        </details>
    </li>
    <li>

        <details class="group">

            <summary
                class="flex items-center justify-between gap-2 p-2 font-normal marker:content-none hover:cursor-pointer">

                <span class="flex gap-2 tezt-[16px]">
                    Clothing
                </span>
                
            </summary>

            <article class="px-4 pb-4">

                <ul class="flex flex-col gap-4 pl-2 mt-4 px-2">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">All Clothing</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Tops & T-Shirts</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Shorts</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Hoodies & Pullovers</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Joggers & Sweatpants</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Sports Bras</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Pants & Tights</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Socks</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Yoga</a>

                </ul>

            </article>

        </details>
    </li>
    <li>

        <details class="group">

            <summary
                class="flex items-center justify-between gap-2 p-2 font-normal marker:content-none hover:cursor-pointer">

                <span class="flex gap-2 tezt-[16px]">
                    Kids
                </span>
                
            </summary>

            <article class="px-4 pb-4">

                <ul class="flex flex-col gap-4 pl-2 mt-4">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Infant & Toddler Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Kids Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Kids Basketball Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Kids Running Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Kids Jordan Shoes</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Kids Clothing</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Kids Backpacks</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Kids Socks</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 ">Kids Sale</a>

                </ul>

            </article>

        </details>
        
    </li>
  
    
    
</ul>